# Deny access to .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

# Deny access to nginx-conf.php
<Files nginx-conf.php>
Order allow,deny
Deny from all
</Files>

# Deny access to nginx.conf
<Files nginx.conf>
Order allow,deny
Deny from all
</Files>

# Deny access to files with extensions .ini, .psd, .log, .sh , .json
<FilesMatch "\.(json|ini|psd|log|sh)$">
Order allow,deny
Deny from all
</FilesMatch>
